<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[% title %] - The University of Western Ontario (Graduate Program Administration) </title>

<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]com.atlassian.auiplugin-ajs.css" media="all">
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]com.atlassian.auiplugin:ajs/com.atlassian.auiplugin:ajs.css?ieonly=true" media="all">
<![endif]-->
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]com.atlassian.gadgets.dashboard-dashboard.css" media="all">
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]com.atlassian.gadgets.dashboard:dashboard/com.atlassian.gadgets.dashboard:dashboard.css?ieonly=true" media="all">
<![endif]-->
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]com.atlassian.gadgets.dashboard-gadget-dashboard-resources.css" media="all">
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]jira.webresources-global-static.css" media="all">
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]jira.webresources:global-static/jira.webresources:global-static.css?ieonly=true" media="all">
<![endif]-->
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]jira.webresources-global-static(1).css" media="print">
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]global.css" media="all">
<!--<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/') %]scripts/signature/assets/jquery.signaturepad.css">-->
	<!--[if gte IE 7]><script type="text/javascript" src="[% c.uri_for('/static/') %]scripts/signature/assets/excanvas-r71.min.js"></script><![endif]-->
	<!--[if IE 6]><script type="text/javascript" src="[% c.uri_for('/static/') %]scripts/signatureassets/excanvas-r3.min.js"></script><![endif]-->

<link type="text/css" href="[% c.uri_for('/static/') %]scripts/css/custom-theme/jquery-ui-1.8.7.custom.css" rel="stylesheet" />
<script type="text/javascript" src="[% c.uri_for('/static/') %]scripts/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" > 
		var api;	
	</script>

<script type="text/javascript" src="[% c.uri_for('/static/') %]scripts/jquery-ui-1.8.7.min.js"></script>

<script type="text/javascript">

			$(function(){// Datepicker

				$('#datepicker').datepicker({

					inline: true

				});
			});

</script>
<script type="text/javascript" src="[% c.uri_for('/static/') %]scripts/jquery-ui-timepicker-addon.js"></script>

<style type="text/css">
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
</style>

</head>
<body>
<div id="header">
<div id="header-top">
<a id="logo" href="[% c.uri_for('/') %]">
<img class="logo" src="[% c.uri_for('/static') %]/image1.png" width="800" height="59" border="0" alt="The University of Western Ontario (Graduate Program Administration)">
</a>
</div>

<span style="float: right" />
[% PROCESS navigation.tt %]
</span>
</div>

