<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[% title %] - The University of Western Ontario (Graduate Program Administration) </title>

<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/com.atlassian.auiplugin-ajs.css" media="all">
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/com.atlassian.auiplugin:ajs/com.atlassian.auiplugin:ajs.css?ieonly=true" media="all">
<![endif]-->
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/com.atlassian.gadgets.dashboard-dashboard.css" media="all">
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/com.atlassian.gadgets.dashboard:dashboard/com.atlassian.gadgets.dashboard:dashboard.css?ieonly=true" media="all">
<![endif]-->
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/com.atlassian.gadgets.dashboard-gadget-dashboard-resources.css" media="all">
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/jira.webresources-global-static.css" media="all">
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/jira.webresources:global-static/jira.webresources:global-static.css?ieonly=true" media="all">
<![endif]-->
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/jira.webresources-global-static(1).css" media="print">
<link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/') %]/global.css" media="all">
<script type="text/javascript" src="[% c.uri_for('/static/') %]/com.atlassian.auiplugin-ajs.js"></script>
<script type="text/javascript" src="[% c.uri_for('/static/') %]/com.atlassian.gadgets.dashboard-dashboard.js"></script>
<script type="text/javascript" src="[% c.uri_for('/static/') %]/com.atlassian.gadgets.embedded-gadget-core-resources.js"></script>
<script type="text/javascript" src="[% c.uri_for('/static/') %]/com.atlassian.gadgets.embedded-gadget-container-resources.js"></script>
<script type="text/javascript" src="[% c.uri_for('/static/') %]/com.atlassian.gadgets.dashboard-gadget-dashboard-resources.js"></script>
<script type="text/javascript" src="[% c.uri_for('/static/') %]/jira.webresources-jira-global.js"></script>
<script type="text/javascript" src="[% c.uri_for('/static/') %]/jira.webresources-key-commands.js"></script>
<script type="text/javascript" src="[% c.uri_for('/static/') %]/jira.webresources-header.js"></script>

<script type="text/javascript" src="[% c.uri_for('/static/') %]/shortcuts.js"></script>


</head>
<body>
<div id="header">
<div id="header-top">
<a id="logo" href="[% c.uri_for('/') %]">
<img class="logo" src="[% c.uri_for('/static') %]/image1.png" width="800" height="59" border="0" alt="The University of Western Ontario (Graduate Program Administration)">
</a>
</div>

<span style="float: right" />
[% PROCESS navigation.tt %]
</span>
</div>

