<option value="=">=</option>
<option value="!=">!=</option>
<option value=">=">>=</option>
<option value="<="><=</option>
<option value=">">></option>
<option value="<"><</option>
<option value="like">like</option>
