 [% pdf.prFont('Helvetica-Bold') %]
 [% pdf.prFontSize(20) %]
 [% img = pdf.prJpeg(student_sign_jpeg, 200, 50) %]
 [% str = "q\n200 0 0 50 10 10 cm\n/" %]
 [% str2 = str _ img %]
 [% str3 = " Do\nQ\n" %]
 [% final = str2 _ str3 %]
 [%  pdf.prAdd(final) %]

 [% pdf.prEnd() %]
