 [% pdf.prFont('Helvetica-Bold') %]
 [% pdf.prFontSize(20) %]
 [% pdf.prText(50,800,'Advisory Meeting Report') %]
 [% BLOCK image %]
 [% img = pdf.prJpeg(sign, 200, 50) %]
 [% str = "q\n200 0 0 50 " _ x _ " " _ y _ " cm\n/" %]
 [% str2 = str _ img %]
 [% str3 = " Do\nQ\n" %]
 [% final = str2 _ str3 %]
 [% pdf.prAdd(final) %]
 [% END %]

 [% pdf.prFontSize(15) %]
 [% pdf.prText(50,780,'Student') %]
 [% PROCESS image sign=student_sign_jpeg,x=50, y=720 %]

 [% pdf.prEnd() %]
